
header{
    background-color: brown;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
}

#openSidebarMenu{
    display: none;
}
.toggle{
    height: 22px;
    width: 25px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;
   
    
}
.spiner{
    height: 3px;
    background-color: #ffff;
    transition: all 0.3s;
}
.spiner.middle,
.spiner.bottom{
    margin-top: 3px;
}
#sidebarMenu{
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    width: 250px;
    margin-top: 68px; 
    background:hwb(210 1% 97% / 0.467);
    transform: translateX(-250px);
    transition:ttransform 250ms ease-in-out;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;

}
  .menu li {
    padding: 20px 20px;
    border-bottom:1px solid rgba(220, 199, 199, 0.1) ;
    color: white;
  }
  .menu li a {
    text-decoration: none;
   font-size: 20px;
   /* padding: 40px; */
   color: #ffff;
  }
 
#openSidebarMenu:checked ~ #sidebarMenu{
    transform: translatex(0);
}
#openSidebarMenu:checked ~ .toggle > .spiner.middle{
    opacity: 0;
}
#openSidebarMenu:checked ~ .toggle > .spiner.top{
    transform: rotate(135deg);
    margin-top: 8px;
}
#openSidebarMenu:checked ~ .toggle > .spiner.bottom{
    transform: rotate(-135deg);
    margin-top: -9px;
}
 

 